* {
    box-sizing: border-box;
}

.header {

    background-color: #F2F2F2;
}

.header-container {
    margin-right: 80px;
    margin-left: 80px;
    height: 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}