@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');


* {
    box-sizing: border-box;
}

.header {
    background-color: #F2F2F2;
}

.header-container {
    margin-right: 80px;
    margin-left: 80px;
    height: 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu > ul {
    display: flex;
}

.menu > ul > li a {
    margin-left: 40px;
    text-decoration: none;

    color: #171717;
}

.menu > ul > li a:hover {
    color: #C9A96E;   
}

.slide {
    height: 700px;
    background-image: url("img/main-image.png");
    position: relative;
}

.text-in-slide-container {
    position: absolute;
    top: 400px;
    width: 100%;
    height: 300px;
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.65));
}

.text-in-slide {
    position: absolute;
    width: 560px;
    color: #fff;
    margin-left: 375px;
    bottom: 60px;
}

.top-text-in-slide {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18.55px;
    text-transform: uppercase;
}

.center-text-in-slide {
    font-family: 'PT Serif', serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    margin-top: 4px;
    margin-bottom: 10px;
}

.bottom-text-in-slide {
    font-family: 'PT Serif', serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.55px;
}

.text-in-slide a {
    color: #fff;
    text-decoration: none;
}

.author-in-slide {
    margin-right: 15px;
    margin-left: 15px;
}

.author-in-slide::before {
    content: "By";
    color: #B4B4B4;
    margin-right: 5px;
}

.main {
    margin-top: 59px;
}

.main-container {
    width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: nowrap;
}

.posts {
    flex: 0 0 66.66667%;
    min-width: 66.66667%;
    height: 200px;
}

.right-block {
    flex: 0 0 33.33333%;
    min-width: 33.33333%;
    height: 200px;
}

.col {
    display: flex;
    flex-wrap: wrap;
}

.small-card {
    margin-top: 0;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-left: 15px;

    flex: 0 0 calc(50% - 30px);

    display: flex;
    flex-direction: column;
}

.heading {
    margin-top: 15px;
    margin-bottom: 4px;
    text-align: center;
    color: #C9A96E;
    text-transform: uppercase;
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 12px;
}

.post-head {
    width: 285px;
    margin: 0 auto;
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #171717;
    text-align: center;
    text-decoration: none;
}

.information-about {
    margin: 10px auto 14px;
    color: #666666;
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 12px;

}

.information-about a {
    text-decoration: none;
    color: #666666;
    margin-left: 10px;
}

.information-about a::before {
    content: "By";
    color: #B1B1B1;
    margin-right: 3px;
}